* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  background-color: chocolate;
}
button {
  border: none;
  background-color: chocolate;
  color: bisque;
}
.diff {
  border: none;
  background-color: chocolate;
  color: bisque;
}
